#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

clean:
	$(MAKE) clean
	rm -rf debian/apisix/
	rm -rf debian/.debhelper/
	rm -rf debian/files

build:
	$(MAKE) build

binary:
	$(MAKE) install DESTDIR=$$(pwd)/debian/apisix
	dh_installchangelogs
	dh_strip
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
